.cartPageContainer {
	padding-left: 70px;
	padding-right: 70px;
}

.cartPageCartHeader {
	font-weight: 700;
	font-size: 32px;
	text-transform: uppercase;
	line-height: 40px;
	margin-top: 50px;
	margin-bottom: 50px;
}
