@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
	--green: #5ece7b;
	--Raleway: "Raleway", sans-serif;
	--attribute-box-size-height: 45px;
	--attribute-box-size-width: 63px;
	--attribute-color-box-size: 32px;
	--item-font-size: 16px;
	--attribute-name-font-size: 18px;
	--attribute-name-font-weight: 700;
	--attribute-name-line-height: 18px;
	--cart-first-width: 500px;
}

.forCartDropDown {
	--cart-first-width: 200px;
	--attribute-box-size-height: 24px;
	--attribute-box-size-width: 24px;
	--attribute-color-box-size: 16px;
	--item-font-size: 10px;
	--attribute-name-font-size: 14px;
	--attribute-name-font-weight: 400;
	--attribute-name-line-height: 16px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--Raleway);
	font-size: 16px;
	line-height: 160%;
	font-style: normal;
}

button {
	background: none;
	border: none;
}

button:hover {
	cursor: pointer;
}
