.totalContainer {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.totalContainerCartPage {
	display: flex;
	width: 100%;
	justify-content: left;
	align-items: center;
	font-weight: 500;

	margin-top: 10px;
	margin-bottom: 10px;
	gap: 20px;
}
.totalContainerCartPage .ttl {
	font-weight: 500;
	font-size: 24px;
}
.totalContainerCartPage .prc {
	font-weight: 700;
	font-size: 24px;
}

.quantity {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	gap: 10px;
	font-size: 24px;
}

.quantity .txt {
	font-weight: 400;
	font-size: 24px;
}

.quantity .val {
	font-weight: 700;
	font-size: 24px;
}

.tax {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	gap: 10px;
}

.tax .txt {
	font-weight: 400;
	font-size: 24px;
}

.tax .val {
	font-weight: 700;
	font-size: 24px;
}

.forCartPageContainer {
	display: flex;
	flex-direction: column;
	width: 300px;
}

.forCartPageContainer .order {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	background-color: var(--green);
	padding: 10px;
	text-align: center;
	color: white;
	font-size: 25px;
	font-weight: 600;
}
